.name{
  text-align: center;
  width:1000px;
  height: 100px;
  transition:all 3.6s ease;
  font-size: 50px;
}

.name:hover{
  transform: rotate3d(360,360,360,720deg);
}

span{
  background-color: aqua;
  display: inline-block;
  width:100px;
  text-align: center;
  margin-bottom: 100px;
  font-size: x-large;
  padding: 10px;
}

span:hover{
  background-color: #99ebff;

}
