html {
  font-size: 16px;
}

.thin-text{
  font-weight: 300;
  background: RGBA(253, 93, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  font-size: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
h1{
  color: white;
}
