body{
  background-color: #eee;
  font-family: helvetica;
  margin: 0;
  }


#container{
  margin:0 auto;
  background-color: #fff;
  width: 98%;
  height: 98%;
}

nav{
  background-color: #000;

}

nav ul{
  list-style-type:none;
  padding: 0;
}

nav a{
  text-decoration: none;
  color:#FFF;
  padding: 10px;
  display: block;
}

nav a:hover{
  background-color: #555;
}

 /* flex styles */
 /* this flex items will only
 work on desktops/laptops */
@media screen and (min-width: 460px){
  nav ul{
    display: flex;
  }
}
.name{
  text-align: center;
  width:1000px;
  height: 100px;
  transition:all 3.6s ease;
  font-size: xx-large;
}

.name{
  text-align: center;
  width:1000px;
  height: 100px;
  transition:all 3.6s ease;
  font-size: 50px;
}

.name:hover{
  transform: rotate3d(360,360,360,720deg);
}
button{
  display: inline-block;
  width:120px;
  text-align: center;
  margin-bottom: 100px;
  font-size: x-large;
  padding: 10px;
  border-radius: 10px;
  border:2px solid #77aaaa;
}

button:hover{
  background-color: #99ebff;
  cursor: pointer;
}

path[Attributes Style] {
    fill: rgb(9, 17, 23);
    d: path('M 43.2 92 C 20.7 92 2.5 73.7 2.5 51.2 s 18.3 -40.8 40.8 -40.8 S 84 28.7 84 51.2 S 65.7 92 43.2 92 Z M 43.2 13 C 22.1 13 5 30.1 5 51.2 s 17.2 38.3 38.3 38.3 s 38.3 -17.2 38.3 -38.3 S 64.3 13 43.2 13 Z');
}
user agent stylesheet
* {
    transform-origin: 0px 0px 0px;
}
